@import 'tailwindcss';

@theme {
  --color-bg1: #171a1b;
  --color-bg2: #242729;
  --color-card: #1e1e1e;
  --color-primary: #ebd5ab;
  --color-accent: #facc15;
  --color-bg3: #3a3a3a;

  --font-sans: 'Inter', ui-sans-serif, system-ui;

  --radius-xl: 1.5rem;

  --background-image-dashboard-grad: linear-gradient(
    to bottom, 
    #171a1b 0%, 
    #242729 51%, 
    #171a1b 100%
  );
}

@layer base {
  body {
    @apply bg-bg1 text-white font-sans antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}
